@model Dahlia.ViewModels.DeleteRetreatViewModel
           
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

    <h3>Are you sure you want to delete the "@Model.Description" retreat on @Model.StartDate.ToShortDateString()?</h3>

    @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Cancel", "Index")
        </p>
    }
