@model Dahlia.ViewModels.RetreatListViewModel

@{
    ViewBag.Title = "Retreats";
}

<h2>Retreats</h2>

<ul>
@foreach (var retreat in Model.Retreats) {
    <li>@retreat.Date.ToString("d")
        <a href='@retreat.AddParticipantLink'>Add Participant</a></li>
}
</ul>