@model Dahlia.ViewModels.RetreatListViewModel

@{
    ViewBag.Title = "Retreats";
}

<h2>Retreats</h2>

<a href='@Model.CreateLink'>Add a new retreat</a>

<ul>
@foreach (var retreat in Model.Retreats) {
    <li><a href="@retreat.ViewLink">@retreat.Date.ToString("d")</a> @retreat.RegisteredParticipants.Count() Participant(s)</li>
}
</ul>