@model Dahlia.ViewModels.RetreatListViewModel

@{
    ViewBag.Title = "Retreats";
}

<h2>Retreats</h2>

<ul>
@foreach (var retreat in Model.Dates) {
    <li>@retreat.ToString("d")</li>
}
</ul>