<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <root>
        <priority value="Info"/>
        <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="c:\logs\log4net.log" />
        <appendToFile value="true" />
        <rollingStyle value="Composite" />
        <maxSizeRollBackups value="14" />
        <maximumFileSize value="1500KB" />
        <datePattern value="yyyyMMdd" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="{%level}%date{MM/dd HH:mm:ss} - %message%newline"/>
        </layout>
    </appender>
</log4net>