@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>index</h2>

<p>Welcome to the Dahlia Scheduler Management System.</p>
<ul>
<li>@Html.ActionLink("Create a Retreat", "Create", "Retreat")</li>
<li>@Html.ActionLink("List of Participants", "List", "Participant")</li>
</ul>
