<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dahliaSQL" connectionString="Data Source=192.168.1.11\express;Initial Catalog=Dahlia;User Id=Dahlia;Password=CaliCat!"/>
    <add name="dahlia" connectionString="data source=dahlia.db;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<runtime>
    <!-- TODO: figure out why this conflict is  happening and fixor it up-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4"
                                culture="neutral" />
            <bindingRedirect oldVersion="3.0.0.2001" newVersion="3.0.0.4000"/>
        </dependentAssembly>
    </assemblyBinding>
</runtime>
</configuration>