@using Dahlia.ViewModels;

@model Dahlia.ViewModels.AddParticipantToRetreatViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Participant to Retreat</h2>

@using (Html.BeginForm()) {
    @Html.HiddenFor(x => x.RetreatDate)
}
