@model Dahlia.ViewModels.DeleteParticipantFromRetreatViewModel

@{
    ViewBag.Title = "DeleteFromRetreat";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

    <div>Are you sure you want to remove @Model.FirstName @Model.LastName from the @Model.RetreatDate.ToShortDateString() retreat?</div>

    @using(Html.BeginForm()) {
        <p>
            <input type="submit" value="Remove" /> |
            @Html.ActionLink("Cancel", "Index", "Retreat")
        </p>
    }
