@model Dahlia.ViewModels.DeleteParticipantFromRetreatViewModel

@{
    ViewBag.Title = "DeleteFromRetreat";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

    <fieldset>
        <legend>Delete Retreat</legend>
        <h3>Are you sure you want to remove @Model.FirstName @Model.LastName from the @Model.RetreatDate.ToShortDateString() retreat?</h3>

        @using (Html.BeginForm()) {
            <p>
                <input type="submit" value="Remove" /> &nbsp;
                <input type="button" value="Cancel" onclick="javascript:window.location='/';" />
            </p>
        }
    </fieldset>
