@model List<Dahlia.Models.Participant>

@{
    ViewBag.Title = "Participants";
}

<h2>List</h2>

<ul>
@foreach (var participant in Model) {
    <li>@participant.FirstName @participant.LastName</li>
}
</ul>