@model Dahlia.ViewModels.ReassignParticipantSearchResultsViewModel
@{
    ViewBag.Title = "Reassign Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>[PARTICIPANT NAME]</h2>

Physiscal Status<br />
Note:<br />
<br />
Bed Reserved
<hr />
Wait Listed
<hr />
Available Retreats
<hr />