
@{
    ViewBag.Title = "Reassign Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ParticipantName</h2>

Physiscal Status: @Model.ParticipantPhysicalStatus
<br />
Note: @Model.ParticipantNote
<br />
Bed Reserved
<hr />
Wait Listed
<hr />
Available Retreats
<hr />