@model Dahlia.ViewModels.MigrationsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var item in @Model.AvailableVersions)
{
    <li>@item.Version - @item.Name</li>
}