<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <h1>OMG HAI!</h1>
    <img src="http://isuckatanimation.com/blog/wp-content/uploads/2009/08/amazons3_bucket.jpg" />
    @RenderBody()
</body>
</html>
